header {
  background: #2f2f2f;
  padding: 8px;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.app-router {
  margin-top: 34px;
  padding: 4px;
}
